
<div class="container-fluid text-left">
    
  {{#if company.name}}
    <h1>{{company.name}}</h1>
  {{else}}
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-danger">
        Please insert your Company name.
      </div>
      <form action="/company" method="POST">  
        <label for="name">Company name</label>
        <input type="text" name="name" id="name" class="form-control" value="{{company.name}}">
        <button type="submit" class="btn btn-success btn-lg mt-3">Submit</button>
      </form>
    </div>
  </div>
  {{/if}}
</div>