<div class="containe-fluid">
  <h1>Customers</h1>
  {{#if customers}}

  {{else}}
  <div class="alert alert-secondary">
    <i class="fa fa-info-circle"></i> You do not have any Customers.
  </div>
  {{/if}}
</div>