<nav class="col-md-2 d-none d-md-block sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link {{#if dashboardActive}}active{{/if}}" href="/dashboard">
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{#if companyActive}}active{{/if}}" href="/dashboard/company">
          My Company
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{#if bookingsActive}}active{{/if}}" href="/dashboard/bookings">
          Bookings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{#if customersActive}}active{{/if}}" href="/dashboard/customers">
          Customers
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{#if basesActive}}active{{/if}}" href="/dashboard/bases">
          Service Bases
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{#if servicesActive}}active{{/if}}" href="/dashboard/services">
          Services
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{#if routesActive}}active{{/if}}" href="/dashboard/routes">
          Routes
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{#if vehicleTypesActive}}active{{/if}}" href="/dashboard/vehicle-types">
          Vehicle Types
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{#if vehiclesActive}}active{{/if}}" href="/dashboard/vehicles">
          Vehicles
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{#if driversActive}}active{{/if}}" href="/dashboard/drivers">
          Drivers
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{#if paxTypesActive}}active{{/if}}" href="/dashboard/pax-types">
          Pax Types
        </a>
      </li>


    </ul>
  </div>
</nav>