<div class="container-fluid">
  <h1>Drivers</h1>
  {{#if drivers}}
  {{else}}
  <div class="">
    <i class="fa fa-info-circle"></i> You do not have any Drivers yet.
  </div>
  {{/if}}

  <a class="btn btn-success mt-3 mb-3" href="/drivers/add">Add Driver</a>

  {{#each drivers}}
  <div class="bg-dark-transparent mb-2 p-3">

    <div class="float-right">
      <a class="btn btn-warning btn-sm mx-1" href="/drivers/edit/{{id}}"><i class="fas fa-pencil-alt"></i> Edit</button>
        <a class="btn btn-danger btn-sm mx-1" href="/drivers/delete/{{id}}"><i class="fas fa-trash-alt"></i> Delete</a>
    </div>
    {{name}}

  </div>
  {{/each}}

</div>