<div class="bg-dark-transparent p-5">
  <h1>Add Driver</h1>

  <div class="line"></div>
  
  <div class="row">
    <div class="col-lg-12">

      <form class="form-inline" method="POST" action="/drivers">
        <label class="my-1 mr-2" for="name">Driver's name </label>
        <input type="text" name="name" class="form-control mr-2">

        <button type="submit" class="btn btn-primary my-1">Submit</button>
      </form>

    </div>
  </div>
</div>