<div class="container-fluid">
  <h1>Drivers</h1>
  {{#if drivers}}
  {{else}}
  <div class="">
    <i class="fa fa-info-circle"></i> You do not have any Drivers yet.
  </div>
  {{/if}}

  <a class="btn btn-success mt-3 mb-3" href="/drivers/add">Add Driver</a>

  <div class="line"></div>

  {{#if drivers}}
  <div class="bg-dark-transparent p-4">
    <table class="display datatable hover stripe">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each drivers}}
        <tr>
          <td>{{name}}</td>
          <td>
            <div class="float-right">
              <a class="btn btn-warning btn-sm mx-1" href="/drivers/edit/{{id}}"><i class="fas fa-pencil-alt"></i> Edit</a>
              <a class="btn btn-danger btn-sm mx-1" href="/drivers/delete/{{id}}"><i class="fas fa-trash-alt"></i> Delete</a>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}

</div>