{{#if error}}
<div class="alert alert-danger">
  {{error}}
</div>
{{/if}}

{{#if errors}}
<div class="mt-5"></div>
{{#each errors}}
<div class="alert alert-danger">
  {{text}}
</div>
{{/each}}
{{/if}}