{{#if error}}
<div style="height:50px"></div>
<div class="alert alert-danger">
  {{error}}
</div>
{{/if}}

{{#if errors}}
<div style="height:50px"></div>
{{#each errors}}
<div class="alert alert-danger">
  {{text}}
</div>
{{/each}}
{{/if}}