<nav class="navbar navbar-dark fixed-top bg-dark-transparent flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SASS Transfer Service</a>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link {{#if homeLink}} active {{/if}}" href="/">Home</a>
    </li>
    {{#if user}}
    <li class="nav-item">
      <a class="nav-link {{#if dashboardLink}} active {{/if}}" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">
        <img src="{{user.image}}" class="rounded-circle m-auto" width="30"> Logout {{user.firstName}}
      </a>
    </li>
    {{else}}
    <li class="nav-item">
      <a class="nav-link {{#if aboutLink}} active {{/if}}" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#if loginLink}} active {{/if}}" href="/login">Login or Register</a>
    </li>
    {{/if}}
  </ul>
</nav>