{{#if success_msg}}
  <div class="alert alert-success mt-5 mb-0">
    {{success_msg}}
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger mt-5 mb-0 bg-dark-transparent">
    {{error_msg}}
  </div>
{{/if}}