<div class="bg-dark-transparent p-4">
  <h1>Edit Pax Type</h1>  

  <form class="form-inline" method="POST" action="/pax-types/edit/{{paxType.id}}">
    <label class="my-1 mr-2" for="paxType">Select one </label>
    <select class="custom-select my-1 mr-sm-2" id="paxType" name="paxType">
      {{#select paxType.paxType}}
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>  
      {{/select}}    
    </select>

    <button type="submit" class="btn btn-primary my-1">Submit</button>
  </form>

</div>