<div class="bg-dark-transparent p-4">
  <h1>Add Vehicle</h1>
  <p><i class="fas fa-info-circle"></i> Example of Vehicle: "Mercedez C220D".</p>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <form class="form" method="POST" action="/vehicles">

        <!-- Vehicle Type -->
        <div class="form-group">
          <label class="my-1 mr-2" for="vehicleTypeId">Vehicle Type</label>
          <select class="custom-select my-1 mr-sm-2" id="vehicleTypeId" name="vehicleTypeId">
            <option value="">Vehicle Type</option>
            {{#each vehicleTypes}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>

        <!-- Vehicle Name -->
        <div class="form-group">
          <label class="my-1 mr-2" for="name">Vehicle Make and Model</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Vehicle Make and Model" value="{{name}}">
        </div>

        <!-- Registration -->
        <div class="form-group">
          <label class="my-1 mr-2" for="registration">Vehicle Registration (Optional)</label>
          <input type="text" name="registration" class="form-control" id="registration" placeholder="Vehicle Registration"
            value="{{registration}}">
        </div>

        <button type="submit" class="btn btn-primary my-1 ml-2">Submit</button>
      </form>

    </div>
  </div>
    
</div>