<div class="row">

  {{> _dashboard-nav}}

  <div class="col-lg-12 mt-5">
    <div class="mt-2">
      
      <!-- Dashboard -->
      {{#if dashboardActive}}
        {{> _dashboard}}
      {{/if}}

      <!-- Company -->
      {{#if companyActive}}
      {{> _company}}
      {{/if}}

      <!-- Bookings -->
      {{#if bookingsActive}}
      {{> _bookings}}
      {{/if}}

      <!-- Customers -->
      {{#if customersActive}}
      {{> _customers}}
      {{/if}}

      <!-- Bases -->
      {{#if basesActive}}
      {{> _bases}}
      {{/if}}

      {{#if basesAddActive}}
      {{> _bases-add}}
      {{/if}}
      
      {{#if basesEditActive}}
      {{> _bases-edit}}
      {{/if}}

      <!-- Services -->      
      {{#if servicesActive}}
      {{> _services}}
      {{/if}}

      {{#if servicesAddActive}}
      {{> _services-add}}
      {{/if}}
      
      {{#if servicesEditActive}}
      {{> _services-edit}}
      {{/if}}

      <!-- Routes -->
      {{#if routesActive}}
      {{> _routes}}
      {{/if}}

      {{#if routesAddActive}}
      {{> _routes-add}}
      {{/if}}
      
      {{#if routesEditActive}}
      {{> _routes-edit}}
      {{/if}}

      <!-- Vehicle Types -->
      {{#if vehicleTypesActive}}
      {{> _vehicle-types}}
      {{/if}}

      {{#if vehicleTypesAddActive}}
      {{> _vehicle-types-add}}
      {{/if}}
      
      {{#if vehicleTypesEditActive}}
      {{> _vehicle-types-edit}}
      {{/if}}

      <!-- Vehicles -->
      {{#if vehiclesActive}}
      {{> _vehicles}}
      {{/if}}

      {{#if vehiclesAddActive}}
      {{> _vehicles-add}}
      {{/if}}
      
      {{#if vehiclesEditActive}}
      {{> _vehicles-edit}}
      {{/if}}

      <!-- Drivers -->
      {{#if driversActive}}
      {{> _drivers}}
      {{/if}}

      {{#if driversAddActive}}
      {{> _drivers-add}}
      {{/if}}

      {{#if driversEditActive}}
      {{> _drivers-edit}}
      {{/if}}

      <!-- Age Groups -->
      {{#if paxTypesActive}}
      {{> _pax-types}}
      {{/if}}

      {{#if paxTypesAddActive}}
      {{> _pax-types-add}}
      {{/if}}

      {{#if paxTypesEditActive}}
      {{> _pax-types-edit}}
      {{/if}}


    </div>        
  </main>
  
</div>


