<div class="row">

  {{> _dashboard-nav}}

  <div class="col-lg-12 mt-5">
    <div class="mt-2">
      
      {{#if dashboardActive}}
        {{> _dashboard}}
      {{/if}}

      {{#if companyActive}}
      {{> _company}}
      {{/if}}

      {{#if bookingsActive}}
      {{> _bookings}}
      {{/if}}

      {{#if customersActive}}
      {{> _customers}}
      {{/if}}

      {{#if basesActive}}
      {{> _bases}}
      {{/if}}

      {{#if servicesActive}}
      {{> _services}}
      {{/if}}

      {{#if routesActive}}
      {{> _routes}}
      {{/if}}

      {{#if vehicleTypesActive}}
      {{> _vehicle-types}}
      {{/if}}

      {{#if vehiclesActive}}
      {{> _vehicles}}
      {{/if}}

      {{#if driversActive}}
      {{> _drivers}}
      {{/if}}

      {{#if paxTypesActive}}
      {{> _pax-types}}
      {{/if}}

      {{#if paxTypesAddActive}}
      {{> _pax-types-add}}
      {{/if}}


    </div>        
  </main>
  
</div>


