<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  
  <!-- DataTables.net -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
  <link rel="stylesheet" href="/css/datatables.css">

  <!-- Dashboard CSS -->
  <link rel="stylesheet" href="/css/dashboard.css">

  <title>Sass Transfer Service - Server</title>

</head>
<body>

  {{> _header}}

  <div class="container-fluid">
    <div class="row">
      
      {{> _dashboard-nav}}
      
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
        <div class="container-fluid">
          {{> _errors}}
          {{> _msg}}
          {{{body}}}
        </div>
      </main>

      {{> _footer}}
    
    </div>
  </div>

</body>
</html>