<div class="bg-dark-transparent p-5 mt-5 container">
  <h1>We appologize</h1>

  <p>There has been an unexpected error. We are working on fixing this as soon as possible.</p>
  <smal>{{error}}</smal>
</div>