<div class="container mt-5 bg-dark-transparent p-5">
  <form class="form-signin text-center">  
    <h4>Enter with Google</h4>
    <p class="lead">To start using SASS Transfer Service, please verify yourself using Google.</p>
    <a href="/auth/google" class="btn btn-lg btn-red btn-block"><i class="fab fa-google"></i> Enter with Google</a>
  </form>
</div>
