<div class="text-center bg-dark-transparent p-5 container mt-5">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Free web service for Transfer Companies.</p>
  <p class="lead">
    <a href="/about" class="btn btn-lg btn-blue">Learn more</a>
  </p>
</div>